@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #00acee;
    color: antiquewhite;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}


.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 40px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width:900px){
    body{
    flex-direction: column;
    }
}

