@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --line-border-fill: #FF00FF;
    --line-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
}

body{
    background-color:  #f6f7fb;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
  text-align: center;  
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
  
}

.progress{
    background-color:var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease;
}

.circle{
    background-color: white;
    color: #999;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active{
    border-color:var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: #e0e0e0;
    border: 0;
    border-radius: 4px ;
    cursor: pointer;
    font-family: inherit;
    padding: 8px ;
    margin: 5px;
    font-size: 14px;
    font-weight: 700;
    width: 100px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}




